<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里的namespace名字必须为执行该sql的dao地址&nbsp; -->
<mapper namespace="com.springmvc.dao.UserDao">
	
	<resultMap type="com.springmvc.domain.UserEntity" id="userResultMap">  
        <id property="id" column="id"/>  
        <result property="userName" column="user_name"/>  
        <result property="userPassword" column="user_password"/>  
    </resultMap>
     
	<select id="getUser" parameterType="String" resultType="com.springmvc.domain.UserEntity" resultMap="userResultMap">  
        <![CDATA[ 
            SELECT * FROM MYUSER
			WHERE ID =  #{userID}
        ]]>   
    </select>
    
    <insert id="insertUser" parameterType="com.entity.UserEntity">
            INSERT INTO MYUSER(ID,PWD,NAME,BIRTHDAY,SALARY)
             VALUES(
             	#{userID},
             	#{userPWD},
             	#{userName},
             	#{userBirthday},
             	#{userSalary}
             )
    </insert>

</mapper>